# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Kotlin
.kotlin/

# Gradle
build/
.gradle/

# IntelliJ
.idea/
*.iml
out/

# IntelliJ Platform Plugin SDK
.intellijPlatform/
.runIde-sandbox/

# OS
.DS_Store
Thumbs.db
